<my-header></my-header>
<div class="login-page">
    <form class="login-form">
        <div class="login">
            <label for="username">Login</label>
            <input type="text" class="username" id="username"/>
        </div>
        <div class="password">
            <label for="password">Password</label>
            <input type="password" id="password" class="password"/>
        </div>
        <div class="submit">
            <button md-b (click)="login()">Log In</button>
        </div>
    </form>
</div>
<my-footer></my-footer>
