<div class="login-page">
    <form [formGroup]="loginForm" novalidate class="login-form" (ngSubmit)="login()">
        <div class="login">
            <label for="username">Login</label>
            <input type="text" class="username" id="username" formControlName="username"/>
        </div>
        <div class="password">
            <label for="password">Password</label>
            <input type="password" id="password" class="password" formControlName="password"/>
        </div>
        <div class="submit">
            <button type="submit" [disabled]="!loginForm.valid">Log In</button>
        </div>
    </form>
</div>
