<div>
    <div class="toolbox">
    <span class="toolbox-search">
        <input type="text" placeholder="Course name" [(ngModel)]="searchName"/>

        <button (click)="searchCourse()">Find</button>
    </span>
        <span class="toolbox-add">
        <button (click)="addCourse()">Add Course</button>
    </span>
    </div>

    <ul class="courses">
        <li class="course" *ngFor="let course of courses" [highlightCourse]="course.date">
            <my-course-detail
                    [course]="course"
                    (deleteId)="deleteCourse($event)"></my-course-detail>
        </li>
    </ul>
    <div class="show-more">
        <button (click)="loadMoreCourses()">Show more...</button>
    </div>
</div>