.courses {
    padding: 0;
}

li.course {
    border: 1px solid darkgrey;
    padding: 15px;
    list-style: none;
    margin: 5px 0;
}

.course-title {
    font-size: 1.5em;
}

.course-duration {
    font-size: 1.5em;
    color: lightslategrey;
}

.course-description {
    font-style: italic;
}