<div class="course-detail" [ngClass]="{ 'top-rated-container': course.isTopRated }">
    <div class="course-info">
        <span class="course-title">{{ course.name | uppercase }}</span>
        <i class="material-icons top-rated" *ngIf="course.isTopRated">grade</i>
        <span class="course-duration">{{ course.length | formatMinutes }}</span>
        <span class="course-date">{{ course.date | date:'fullDate' }}</span>
        <div class="course-description" *ngIf="course.description">{{ course.description }}</div>
    </div>
    <div class="course-actions">
        <div class="course-action-btn"><button md-button>Edit Course</button></div>
        <div class="course-action-btn"><button md-button (click)="removeCourse(course.id)">Delete</button></div>
    </div>
</div>
