.course-detail {
    vertical-align: top;
}

.course-info {
    display: inline-block;
    width: 75%;
    padding: 15px;
}

.course-description {
    margin-top: 15px;
    color: darkgrey;
    font-size: 0.8em;
}

.course-actions {
    display: inline-block;
    width: 20%;
    float: right;
}

.course-actions .course-action-btn {
    width: 80%;
    padding: 5px;
    float: right;
}

.course-action-btn button {
    width: 90%;
    margin: 0 auto;
}

.course-title {
    font-size: 1.2em;
}

.course-duration {
    margin-left: 5em;
    font-size: 0.8em;
}

.course-date {
    float: right;
}

.top-rated-container {
    background-color: dimgray;
}

.top-rated {
    color: darkgrey;
}
