li.course {
    border: 1px solid darkgrey;
    padding: 15px;
    list-style: none;
}

.course-title {
    font-size: 1.5em;
}

.course-duration {
    font-size: 1.5em;
    color: lightslategrey;
}

.course-description {
    font-style: italic;
}