form {
    display: table;
}

.row {
    display: table-row;
}

.row label,
.row input,
.row textarea {
    display: table-cell;
}

.row button {
    margin: 20px;
}

.validation-error {
    color: darkred;
    font-size: 0.7em;
}